* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    /* border-bottom: 1px solid gray; */
    margin-bottom: 2rem;
}

.links-container {
    width: 960px;
}

.logo {
    margin-bottom: 1rem;
}

.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.links a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}

.links a:hover {
    color: black;
}

.main {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h1 {
    margin: 1rem;
}

.main p {
    width: 70ch;
    text-align: center;
    margin-bottom: 2rem;
}

.main button {
    width: 150px;
    padding: 0.8rem 0.2rem;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 0.4rem;
    border: none;
}

.main button:hover {
    background-color: rgb(153, 153, 153);
    color: black;
    cursor: pointer;
}

.empty {
    height: 600px;
}

#recipes {
    margin: 0 auto;
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recipes h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#recipes p {
    margin-bottom: 2rem;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container {
    max-width: 300px;
    min-width: 280px;
    margin: 0.2rem;
}

.card {
    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding: 12px;
}

.card img {
    width: 100%;
    border-radius: 0.9rem;
    height: 214px;
    object-fit: cover;
}

.name {
    font-size: 24px;
    font-weight: 600;
  
    margin-top: 16px;
}

.card p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

.card button {
    width: 100%;
    border: none;
    padding: 12px 24px;
    border-radius: 0.4rem;
    margin-top: 1.5rem;
    font-weight: 600;
    color: #000;
    background-color:  rgb(153, 153, 153);
  
    display: block;
  
}

.card button:hover {
    background-color: #000;
    color: #fff;
}

#about-us {
    width: 960px;
    display: block;
    margin: 0 auto;
}

#about-us h2 {
    text-align: center;
    padding: 2rem;
    margin-top: 6rem;
}

#about-us p {
    margin: 0 auto;
    width: 70ch;
    text-align: center;
    margin-bottom: 6rem;
}

footer {
    width: 100%;
    margin-top: 4rem;
    text-align: center;
    font-size: 11px;
    border-top: 1px solid rgb(226, 226, 226);
}

footer p {
    padding: 1rem;
}

@media only screen and (max-width: 450px) {
    .links-container{
        width: 100%;
    }

    .links {
        justify-content: space-around;
    }

    .main {
        width: 100%;
    }

    .main h1 {
        width: 15ch;
        text-align: center;
    }

    .main p {
        width: 30ch;
    }

    #recipes {
        width: 100%;
    }

    #recipes>p {
        width: 30ch;
        text-align: center;
    }

    #about-us {
        width: 100%;
    }

    #about-us p {
        width: 40ch;
    }
}

@media only screen and (min-width:451px) and (max-width: 768px) {
    .links-container{
        width: 100%;
    }

    .links {
        justify-content: space-around;
    }

    .main {
        width: 100%;
    }

    .main h1 {
        width: 15ch;
        text-align: center;
    }

    .main p {
        width: 45ch;
    }

    #recipes {
        width: 100%;
    }

    #recipes>p {
        width: 45ch;
        text-align: center;
    }

    #about-us {
        width: 100%;
    }

    #about-us p {
        width: 50ch;
    }
}
